.App {
  display: grid;
  grid-template-columns: 1fr, 3fr;
  grid-template-areas:
    'header'
    'sidebar main'
    'sidebar main';
    text-align: left;
}
.App> section:nth-child(1){
  grid-area: header;
}
.App> section:nth-child(2){
  grid-area: sidebar;
}
.App> section:nth-child(3){
  grid-area: main;
}
